/**
 * CSS from the Layout Generator/Tool
 */
.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 60px;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}

.header { grid-area: header; }

.footer { grid-area: footer; }

.sidebar { grid-area: sidebar; }

.content { grid-area: content; }

/**
 * Custom CSS added here 
 */
body {
  font-family: "Raleway", sans-serif;
  background-color: #fffffe;
  padding: 1rem;
}
.container {
  max-width: 980px;
  height: calc(100vh - 3rem);
  margin: 0 auto;  
}
.container > * {
  display: grid;
  place-content: center;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  box-shadow: 0 1px 6px 0 hsl(0, 0%, 0%, 20%);
}
.header, .footer {
  color: hsl(22, 78%, 26%);
  background-color: hsl(48, 96%, 89%);
}
.content {
  color: hsl(177, 51%, 23%);
  background-color: hsl(177, 51%, 93%);
}
.sidebar {
  color: hsl(177, 51%, 23%);
  background-color: hsl(177,51%, 82%);
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto auto 60px;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
}